@model string

@{
    ViewBag.Title = "Add Employee";
}

<h2 class="titles">Add Employee</h2>

<form method="post" action="/Conversation/AddEmployee">
   
    <div>
        <input type="hidden" name="id" value="@Model" />
        <label>Agents:</label>
        @foreach (var agent in LiveChat.AgentLists)
        {
            
            <div>
                <input type="checkbox" name="SelectedAgentIds" value="@agent.Id" />
                <label>@agent.Name</label>
            </div>
        }
    </div>
    <button type="submit">Add Selected</button>
</form>