@model CpmDemoApp.Models.Conversation

@{
    ViewBag.Title = "Remove Employee";
}

<h2 class= "titles">Remove Employee</h2>

<form method="post" action="/Conversation/RemoveEmployee">
    
    <div>
        <input type="hidden" name="id" value="@Model.Id" />
        <label>Agents:</label>
        @foreach (var agent in @Model.SelectedAgents)
        {
            <div>
                <input type="checkbox" name="SelectedAgentIds" value="@agent.Id" />
                    <label  class="checkbox-label">@agent.Name</label>
            </div>
        }
    </div>
    <button type="submit">Remove Selected</button>
</form>