@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
       
    </style>
</head>

<div class="info">
    <h1> Discover Unique <br> Floral Magic </h1>
    <p> Elevate any moment with our expertly designed flower arrangements, <br> crafted with love in Seattle. </p>
    <a href="#" class="button">Shop Now</a>
</div>


<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
